<!DOCTYPE html>
<html lang="en">

<head>
    <title>Divisima | eCommerce Template</title>
    <meta charset="UTF-8">
    <meta name="description" content=" Divisima | eCommerce Template">
    <meta name="keywords" content="divisima, eCommerce, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="shortcut icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/slicknav.min.css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/style.css" />


</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    <%- include('../partial/adminHeader.ejs')%>
    <!-- Header section end -->

    <section class="top-letest-product-section">
        <div class="container" >
            <div class="section-title">
                <h2>SỬA SẢN PHẨM</h2>
            </div>

            <div class="form-group">
                <h3 class="text-primary"><%= msg %></h3>
            </div>

            <form action="/admin/product/edit/<%= product._id%>?_method=PUT" id="post" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="type">Loại sản phẩm</label>
                    <select name="type" id="" class="form-control">
                        <% productTypes.forEach(type=>{ %>
                            <%if(type.id == product.productType){%>
                                <option selected label="<%= type.name%>" value="<%= type._id %>">
                                    <%= type.name %>
                                </option>
                            <%} else {%>                              
                                <option value="<%= type._id %>"><%= type.name %></option>
                            <%}%>
                        <% }) %>
                       
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">Tên sản phẩm</label>
                    <input type="text" name="name" id="" value="<%= product.name%>"  class="form-control">
                </div>
                <div class="form-group">
                    <label for="price">Giá bán</label>
                    <input type="number" name="price" value="<%= product.price%>" id=""  class="form-control">
                </div>
                <div class="form-group">
                    <label for="price">Mô tả</label>
                    <textarea name="description" id="" cols="50"  rows="4"  class="form-control">
                        <%= product.description %>
                    </textarea>
                </div>

                <div class="form-group">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Size</th>
                                <th scope="col">XL</th>
                                <th scope="col">L</th>
                                <th scope="col">M</th>
                                <th scope="col">S</th>
                                <th scope="col">XS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Số lượng</th>
                              
                                <td><input type="number"  value="<%= product.sizes[0].quantity%>" name="XL" min="0"  class="form-control"></td>
                                <td><input type="number"  value="<%= product.sizes[1].quantity%>" name="L" min="0"  class="form-control"></td>
                                <td><input type="number"  value="<%= product.sizes[2].quantity%>" name="M" min="0"  class="form-control" ></td>
                                <td><input type="number"  value="<%= product.sizes[3].quantity%>" name="S" min="0"  class="form-control" ></td>
                                <td><input type="number"  value="<%= product.sizes[4].quantity%>" name="XS" min="0"  class="form-control" ></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="form-group">
                    <label for="img">Upload ảnh chính (nhiều hình)</label>
                    <input type="file" name="product_img" id=""  multiple class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-danger btn-block" style="width: 200px; margin-left: auto;margin-right: auto;"type="submit" id="submit">
                       Updated
                    </button>
                </div>

            </form>
            <div class="form-group">
                <a href="/admin/product">
                <button class="btn btn-primary btn-block" style="width: 200px; margin-left: auto;margin-right: auto;"type="submit" id="submit">
                  Cancel
                </button>
                </a>
            </div>

    </section>


    <!-- Footer section -->
    <%- include('../partial/clientFooter.ejs')%>
    <!-- Footer section end -->



    <!--====== Javascripts & Jquery ======-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.slicknav.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.zoom.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>