<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta charset="UTF-8">
<meta name="description" content=" Divisima | eCommerce Template">
<meta name="keywords" content="divisima, eCommerce, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Divisima | eCommerce Template</title>

<!-- Favicon -->
<link href="/img/favicon.ico" rel="shortcut icon" />

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


<!-- Stylesheets -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/font-awesome.min.css" />
<link rel="stylesheet" href="/css/flaticon.css" />
<link rel="stylesheet" href="/css/slicknav.min.css" />
<link rel="stylesheet" href="/css/jquery-ui.min.css" />
<link rel="stylesheet" href="/css/owl.carousel.min.css" />
<link rel="stylesheet" href="/css/animate.css" />
<link rel="stylesheet" href="/css/style.css" />

<style>
  
	.table-wrapper {
		width: 800px;
		margin: 30px auto;
        background: #fff;
        padding: 20px;	
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        font-size: 20px;
    }
    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }
    .table-title h2 {
        margin: 6px 0 0;
        font-size: 30px;
    }
    .table-title .add-new {
        float: right;
		height: 30px;
		font-weight: bold;
		font-size: 12px;
		text-shadow: none;
		min-width: 100px;
		border-radius: 50px;
		line-height: 13px;
    }
	.table-title .add-new i {
		margin-right: 4px;
	}
    table.table {
        table-layout: fixed;
    }
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }
    table.table th i {
        font-size: 19px ;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table th:last-child {
        width: 100px;
    }
    table.table td a {
		cursor: pointer;
        display: inline-block;
        margin: 0 5px;
		min-width: 24px;
    }    
	table.table td a.add {
        color: #27C46B;
    }
    table.table td a.edit {
        color: #FFC107;
    }
    table.table td a.delete {
        color: #E34724;
    }
    table.table td i {
        font-size: 19px;
    }
	table.table td a.add i {
        font-size: 20px;
    	margin-right: -1px;
        position: relative;
        top: 3px;
    }    
    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }
	table.table .form-control.error {
		border-color: #f50000;
	}
	table.table td .add {
		display: none;
	}
    @media (max-width: 850px) {
    .table-wrapper {
		width: 450px;
        padding: 20px;	
        font-size: 18px;
    }
    .table-title h2 {
        margin: 3px 0 0;
        font-size: 18px;
    }
    table.table th  {
        font-size: 15px ; 
    }
    table.table td  {
        font-size: 15px;
    }
  
  }
 
</style>

</head>
<body>
     <!-- Header section -->
     <%- include('../partial/adminHeader.ejs')%>
     <!-- Header section end -->
    <div class="container"  style="overflow-x:auto;">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Quản lý<b> hóa đơn khách hàng</b></h2></div>
                    <!-- <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div> -->
                </div>
            </div>
            <table class="table table-bordered">
               
                <thead>
                    <tr>
                        <th>Tên khách hàng</th>
                        <!-- <th>Department</th> -->
                        <th>Số điện thoại</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <%if(users){%>
                        <% users.forEach(user=>{%>
                    <tr>
                        <td><%= user.name%></td>
                        <!-- <td>Administration</td> -->
                        <td><%= user.phone_number%></td>
                        <td>
							
                            <a href="/admin/bill/user/<%= user.id%>" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <!-- <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a> -->
                        </td>
                    </tr>
                    
                </tbody>
                <%})}%>
            </table>
        </div>
    </div>     
      <!-- Footer section -->
      <%- include('../partial/clientFooter.ejs')%>
      <!-- Footer section end -->
      <script src="/js/jquery-3.2.1.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/jquery.slicknav.min.js"></script>
      <script src="/js/owl.carousel.min.js"></script>
      <script src="/js/jquery.nicescroll.min.js"></script>
      <script src="/js/jquery.zoom.min.js"></script>
      <script src="/js/jquery-ui.min.js"></script>
      <script src="/js/main.js"></script>
</body>
</html>