<!-- Header section -->
<%- include('../partial/clientHeader.ejs',{isLogin:isLogin})%>
<!-- Header section end -->

<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h4>Your cart</h4>
        <div class="site-pagination">
            <a href="">Home</a> /
            <a href="">Your cart</a>
        </div>
    </div>
</div>
<!-- Page info end -->


<!-- cart section end -->
<section class="cart-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form action="/cart/remove" method="post">
                    <div class="cart-table">
                        <div style="display: flex; justify-content: space-between;align-items: center;">
                            <h3>Your Cart</h3>
                            <% if (cart && cart.items.length >0) { %>
                            <button type="submit" class="site-btn" style="margin-bottom: 37px;">Xóa</button>
                            <% } %>

                        </div>

                        <div class="cart-table-warp">
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="product-th">Product</th>
                                        <th class="quy-th">Quantity</th>
                                        <th class="size-th">Size</th>
                                        <th class="total-th">Price</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    <% !cart || cart.items.forEach(item => { %>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                    value="<%= item._id %>" id="flexCheckDefault" name="product">
                                                <label class="form-check-label" for="flexCheckDefault"></label>
                                            </div>
                                        </td>
                                        <td class="product-col">
                                            <img src="/api/img/<%= item.itemId.img[0] %>?format=png&width=80&height=81"
                                                alt="">
                                            <div class="pc-title">
                                                <h4><%= item.itemId.name %> </h4>
                                                <p><%= item.itemId.price %>đ</p>
                                            </div>
                                        </td>
                                        <td class="size-col">
                                            <h4><%= item.quantity %></h4>

                                        </td>
                                        <td class="size-col">
                                            <h4><%= item.size %></h4>
                                        </td>
                                        <td class="total-col">
                                            <h4><%= item.quantity * item.itemId.price %></h4>
                                        </td>
                                    </tr>
                                    <% }) %>

                                </tbody>
                            </table>
                        </div>
                        <div class="total-cost">
                            <h6>Total <span><% if (cart) { %>
                                    <%= cart.total %>
                                    <% } else {%> 0 <% } %> </span></h6>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 card-right">

                <a href="" class="site-btn">Proceed to checkout</a>
                <a href="/" class="site-btn sb-dark">Continue shopping</a>
            </div>
        </div>
    </div>
</section>
<!-- cart section end -->

<!-- Related product section -->
<%-include("../partial/carouselCard", {products:products,title:"SẢN PHẨM LIÊN QUAN"}) %>
<!-- Related product section end -->
<script src="js/custom/cart.js"></script>