<!DOCTYPE html>
<html lang="en">

<head>
    <title>Divisima | eCommerce Template</title>
    <meta charset="UTF-8">
    <meta name="description" content=" Divisima | eCommerce Template">
    <meta name="keywords" content="divisima, eCommerce, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/slicknav.min.css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/style.css" />




</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>



    <!-- Header section -->
    <%- include('../partial/clientHeader.ejs',{isLogin:isLogin})%>
    <!-- Header section end -->

    <!-- Page info -->
    <div class="page-top-info">
        <div class="container">
            <h4>Your cart</h4>
            <div class="site-pagination">
                <a href="">Home</a> /
                <a href="">Your cart</a>
            </div>
        </div>
    </div>
    <!-- Page info end -->


    <!-- cart section end -->


    <section class="pt-5 pb-5">

        <div class="container">
            <div class="row w-100">
                <div class="col-lg-12 col-md-12 col-12">
                    <h3 class="display-5 mb-2 text-center">Giỏ Hàng</h3>
                    <p class="mb-5 text-center">
                        <i class="text-info font-weight-bold"><%=cart.items.length  %> </i> sản phẩm trong giỏ hàng
                    </p>
                    <table id="shoppingCart" class="table table-condensed table-responsive ">
                        <thead>
                            <tr>
                                <th style="width:2%"><input type="checkbox" id="select-all"></th>
                                <th style="width:40%">Sản phẩm</th>
                                <th style="width:10%">Size</th>
                                <th style="width:16%">Số lượng</th>
                                <th style="width:16%">Thành tiền</th>

                                <th style="width:6%" class="text-right">
                                    <button class="btn" id="delete-all-btn"><span><img src="/img/icons/trash.svg"
                                                alt="deleted"></span></th>
                                </button>


                            </tr>
                        </thead>
                        <tbody>

                            <% !cart || cart.items.forEach(item => { %>

                            <tr>
                                <td>
                                    <input type="checkbox" name="product-checkbox" value="<%= item.itemId._id %>">
                                </td>
                                <td class="product-info" data-th="Product">
                                    <div class="row">
                                        <div class="product-col">
                                            <img src="<%= item.itemId.fileLinks[0] %>" height="100" width="100" alt="">
                                        </div>
                                        <div class="col-md-9 text-left mt-sm-2">
                                            <h4><a href="/product/<%= item.itemId._id %>"><%= item.itemId.name %></a>
                                            </h4>
                                            <p class="font-weight-light"><span
                                                    class="price-base"><%= item.itemId.price %></span>đ</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-select" name="size" aria-label="Default select example">
                                        <% for( let i = 0; i < item.itemId.sizes.length; i++ ) { %>
                                        <% if (item.itemId.sizes[i].name == item.size) { %>
                                        <option value="<%= item.size %>" data-target="#available-<%= item.size%>"
                                            selected><%= item.size %> </option>
                                        <% } else if (item.itemId.sizes[i].quantity>0) { %>
                                        <option value="<%=item.itemId.sizes[i].name %>"
                                            data-target="#available-<%= item.itemId.sizes[i].name%>">
                                            <%= item.itemId.sizes[i].name %></option>
                                        <% } %>
                                        <% } %>

                                    </select>

                                </td>
                                <td class="quantity " data-th="Quantity">



                                    <div class="pro-qty"><span class="dec qtybtn">-</span><input type="text"
                                            value="<%= item.quantity %>" name="quantity"><span
                                            class="inc qtybtn">+</span>
                                    </div>
                                    <div class="tab-content">

                                        <% for( let i = 0; i < item.itemId.sizes.length; i++ ) { %>
                                        <% if (item.itemId.sizes[i].name == item.size) { %>
                                        <div id="available-<%= item.size %>" class="tab-pane active">
                                            <span><%=item.itemId.sizes[i].quantity%></span> sản phẩm sẵn có</div>

                                        <% } else if (item.itemId.sizes[i].quantity>0) { %>

                                        <div id="available-<%= item.itemId.sizes[i].name %>" class="tab-pane">
                                            <span><%=item.itemId.sizes[i].quantity%></span> sản phẩm sẵn có</div>

                                        <% } %>
                                        <% } %>

                                    </div>


                                </td>
                                <td class="thanh_tien" data-th="Price">
                                    <span><%= item.quantity * item.itemId.price %></span>đ</td>
                                <td class="actions" data-th="">
                                    <div class="text-right">
                                        <!-- <form action="/cart/remove" method="post"> -->
                                        <!-- <input type="text" name="product" value="<%= item.itemId._id %>" hidden> -->
                                        <button class="btn btn-del-product" data-toggle="modal"
                                            data-target="#delete-confirm" data-id="<%= item.itemId._id %>">
                                            <span>

                                                <img src="/img/icons/trash.svg" alt="deleted">
                                            </span></button>
                                        <!-- </form> -->
                                    </div>
                                </td>
                            </tr>

                            <% }) %>

                        </tbody>
                    </table>

                    <div
                        style="background: #f51167;margin: 0 -34px;text-align: right;padding: 22px 0;padding-right: 50px;">
                        <h6 style="color:white;">Total<span id="total-price" style="margin-left: 1rem;">0</span>đ</h6>
                    </div>
                    <!-- <div class="float-right text-right">
                        <h4>Subtotal:</h4>
                        <h1>$99.00</h1>
                    </div> -->
                </div>
            </div>
            <div class="row mt-4 d-flex align-items-center">
                <div class="col-sm-6 order-md-2 text-right">
                    <span id="checkout" class="btn btn-primary mb-4 btn-lg pl-5 pr-5 site-btn">Checkout</span>
                </div>
                <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                    <a href="/products">
                        <i class="fas fa-arrow-left mr-2"></i> Continue Shopping</a>
                </div>
            </div>
        </div>

    </section>
    <!-- cart section end -->


    <!-- Boostrap Modal start -->
    <div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <b>Xác nhận</b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                    <button id="delete-confirm-btn" type="button" class="btn btn-danger">Xóa</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="nofication-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <b>Thông báo</b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Boostrap Modal end-->

    <!-- Related product section -->
    <%-include("../partial/carouselCard", {products:products,title:"SẢN PHẨM LIÊN QUAN"}) %>
    <!-- Related product section end -->
    <script src="js/custom/cart.js"></script>


    <!-- Footer section -->
    <%- include('../partial/clientFooter.ejs')%>
    <!-- Footer section end -->



    <!--====== Javascripts & Jquery ======-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.slicknav.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.zoom.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/custom/ejs.min.js"></script>
    <script>
        $(document).on('click', '#checkout', function (event) {
            event.preventDefault();
            var data = $('tr').map(function () {
                var obj = {};
                var isEmpty = true;
                $(this).find('input, select').each(function () {
                    if (!$(this).is(':checked') && $(this).is(':checkbox')) {
                        return false;
                    }
                    obj[this.name] = $(this).val();
                    isEmpty = false;
                });
                if (!isEmpty) return obj;
            }).get();

            if (data.length > 0) {
                $.post('/checkout', {
                    "data": JSON.stringify(data)
                }, function (data, status) {
                    if (data.result == "redirect") {
                        window.location.replace(data.url);
                    }
                })
            } else {
                $('#nofication-modal .modal-body').text("Bạn chưa chọn sản phẩm để mua");
                $('#nofication-modal').modal('show');
            }

        });

        $('input[name="product-checkbox"]').change(function () {
            var total = 0;
            $('input[name="product-checkbox"]').each(function () {
                if ($(this).is(":checked")) {
                    total += parseInt($(this).closest('tr').find('.thanh_tien span').text());
                }
            })
            $('#total-price').text(total);
        });


        $('#select-all').click(function () {
            if (this.checked) {
                $('input[name="product-checkbox"]').prop('checked', true).trigger("change");
            } else {
                $('input[name="product-checkbox"]').prop('checked', false).trigger("change");
            }
        })

        $('#delete-all-btn').click(function () {
            var items = []
            $('input[name="product-checkbox"]').each(function () {
                if (this.checked) {
                    items.push({
                        product: $(this).val()
                    })
                }
            })
            if (items.length > 0) {
                $('#delete-confirm .modal-body').text("Bạn muốn xóa sản phẩm đang chọn");
                $('#delete-confirm').modal('show');
                $('#delete-confirm-btn').data('id', items);
            } else {
                $('#nofication-modal .modal-body').text("Bạn chưa chọn sản phẩm để xóa");
                $('#nofication-modal').modal('show');
            }
        })

        $('.btn-del-product').click(function () {
            var ID = $(this).data('id');
            $('#delete-confirm-btn').data('id', [{
                product: ID
            }]); //set the data attribute on the modal button
            $('#delete-confirm .modal-body').text("Bạn muốn xóa sản phẩm này")
        });

        $('#delete-confirm-btn').on('click', function () {
            var ID = $(this).data('id');
            $.ajax({
                url: "/cart/remove",
                type: "post",
                data: {
                    data: ID
                },
                success: function (data) {
                    $("#delete-confirm").modal('hide');
                    location.reload();
                }
            });
        })
    </script>
</body>

</html>