<!DOCTYPE html>
<html lang="en">

<head>
    <title>Divisima | eCommerce Template</title>
    <meta charset="UTF-8">
    <meta name="description" content=" Divisima | eCommerce Template">
    <meta name="keywords" content="divisima, eCommerce, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/slicknav.min.css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/style.css" />




</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>



    <!-- Header section -->
    <%- include('../partial/clientHeader.ejs',{isLogin:isLogin})%>
    <!-- Header section end -->

    <!-- Page info -->
    <div class="page-top-info">
        <div class="container">
            <h4>Your cart</h4>
            <div class="site-pagination">
                <a href="/">Home</a> /
                <a href="/cart">Your cart</a> /
                <a href="">Checkout</a>
            </div>
        </div>
    </div>
    <!-- Page info end -->


    <!-- checkout section  -->
    <section class="checkout-section spad">
        <div class="container" style="max-width: 1300px;">
            <div class="row">
                <div class="col-lg-8 order-2 order-lg-1">
                    <form class="checkout-form" method="post" action="/checkout/thanh_toan">
                        <div class="cf-title">Địa chỉ thanh toán</div>
                        <div class="row">
                            <div class="col-md-7">
                                <p>*Thông tin thanh toán</p>
                            </div>

                        </div>
                        <div class="row address-inputs">
                            <div class="col-md-12 d-flex justify-content-between">
                                <input type="text" name="address" id="address-text" placeholder="Address"
                                    value="<%= user.address %>" style="width:85%">
                                <button type="button" class="btn btn-outline-danger" id="change-address"
                                    style="height: 44px;">Thay
                                    đổi</button>
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="phone" placeholder="Phone number"
                                    value="<%= user.phone_number %>">
                            </div>
                        </div>
                        <div class="cf-title">Giao hàng</div>
                        <div class="row shipping-btns">
                            <div class="col-6">
                                <h4>Tiêu chuẩn</h4>
                            </div>
                            <div class="col-6">
                                <div class="cf-radio-btns">
                                    <div class="cfr-item">
                                        <input type="radio" name="shipping" id="ship-1" value="free" checked>
                                        <label for="ship-1">Miễn phí</label>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-6">
                                <h4>Next day delievery </h4>
                            </div>
                            <div class="col-6">
                                <div class="cf-radio-btns">
                                    <div class="cfr-item">
                                        <input type="radio" name="shipping" id="ship-2">
                                        <label for="ship-2">100000đ</label>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="cf-title">Thanh toán</div>
                        <ul class="payment-list">
                            <li><label><input type="radio" name="payment" value="cash" checked> Thanh toán khi nhận hàng
                                </label></li>
                            <li><label><input type="radio" name="payment" value="card"> Thanh toán qua VNPAY
                                </label></li>
                        </ul>
                        <button class="site-btn submit-order-btn" id="submitorder">Đặt hàng</button>
                    </form>
                </div>
                <div class="col-lg-4 order-1 order-lg-2">
                    <div class="checkout-cart">
                        <h3>Đơn hàng</h3>

                        <ul class="product-list">

                            <% cart.items.forEach(function(item) { %>

                            <li>
                                <div class="pl-thumb"><img src="<%= item.itemId.fileLinks[0] %>" height="100px"
                                        width="100px" alt=""></div>
                                <h5 style="padding-top:0"><%= item.itemId.name %> </h5>
                                <p>Giá : <%= item.itemId.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %> đ</p>
                                <p><span>SL:<%= item.quantity %></span><span style="margin-left: 20px;">Size:
                                        <%= item.size %> </span></p>
                                <p>Thành tiền:
                                    <%= (item.itemId.price*item.quantity).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
                                    đ</p>
                            </li>
                            <% }); %>
                        </ul>
                        <ul class="price-list">
                            <li>Tổng cộng<span><%= cart.totalFormat %></span></li>
                            <li>Phí vận chuyển<span>Miễn phí</span></li>
                            <li class="total">Tổng cộng<span><%= cart.totalFormat %></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- checkout section end -->
    <div class="modal fade" id="nofication-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <b>Thông báo</b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="change-address-modal" tabindex="-1" role="dialog" aria-hidden="true"
        style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <b>Thay đổi địa chỉ</b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table style="  border-collapse: separate;
                    border-spacing: 15px 50px;">
                        <tr>
                            <td colspan="2">Địa chỉ</td>
                        </tr>
                        <tr>
                            <td>Tỉnh/thành phố</td>
                            <td><select name="ls_province"></select></td>
                        </tr>
                        <tr>
                            <td>Quận/huyện:</td>
                            <td><select name="ls_district"></select></td>
                        </tr>
                        <tr>
                            <td>Phường/xã:</td>
                            <td><select name="ls_ward"></select></td>
                        </tr>
                        <tr>
                            <td>Số nhà:</td>
                            <td><input type="text" placeholder="Số nhà, tên đường" required></td>
                        </tr>
                    </table>
                    <!-- <label for="address"><b>Địa chỉ</b></label></br>
                <label>Tỉnh/thành phổ: <select name="ls_province"></select></label> </br>
                <label>Quận/huyện: <select name="ls_district"></select></label> </br>
                <label>Phường/xã: <select name="ls_ward"></select></label> </br> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button id="change-confirm-btn" type="button" data-dismiss="modal"
                        class="btn btn-danger">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer section -->
    <%- include('../partial/clientFooter.ejs')%>
    <!-- Footer section end -->



    <!--====== Javascripts & Jquery ======-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.slicknav.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.zoom.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/custom/ejs.min.js"></script>
    <script src="/js/vietnamlocalselector.min.js"></script>
    <script src="https://pay.vnpay.vn/lib/vnpay/vnpay.js"></script>
    <script>
        var localpicker = new LocalPicker({
            province: "ls_province",
            district: "ls_district",
            ward: "ls_ward"
        });
        // $('#submitorder').click(function () {
        //     var data = $('form').serialize();
        //     $.post('/checkout/thanh_toan', data, function (data, status) {
        //         console.log(data);
        //         console.log(status);
        //         $('#nofication-modal .modal-body').text("Bạn đã đặt hàng thành công")
        //         $('#nofication-modal').modal('show');
        //     })


        // });

        $('form').submit(function (event) {
            $.ajax({
                method: $(this).attr('method'),
                url: $(this).attr('action'),
                data: $(this).serialize(),
                async: false,
                statusCode: {
                    302: function (reponse) {
                        $('#nofication-modal .modal-body').text("Bạn đã đặt hàng thành công")
                        $('#nofication-modal').modal('show');
                        //window.location.replace(reponse.responseText);
                    },
                    200: function (reponse) {
                        if (reponse.code === '00') {
                            if (window.vnpay) {
                                vnpay.open({
                                    width: 768,
                                    height: 600,
                                    url: reponse.data
                                });
                            } else {
                                location.href = reponse.data;
                            }
                            return false;

                        } else {
                            alert(reponse.Message);
                        }
                    }
                },

            });
            event.preventDefault(); // <- avoid reloading
        });

        $("#nofication-modal .modal-footer button").click(function () {
            window.location.replace("/");
        })

        $("#change-address").click(function () {
            $('#change-address-modal').modal('show');
        })
        $("#change-confirm-btn").click(function () {
            const address = []
            $("#change-address-modal .modal-body").find('input, select').each(function () {
                if ($(this).is('select')) {
                    address.push($(this).find('option:selected').text())
                } else {
                    address.push($(this).val())
                }
            })
            $("#address-text").val(address.reverse().join(", "))
        })
    </script>
</body>

</html>