<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shop nam</title>
    <meta charset="UTF-8">
    <meta name="description" content=" Divisima | eCommerce Template">
    <meta name="keywords" content="divisima, eCommerce, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/slicknav.min.css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/style.css" />




</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>



    <!-- Header section -->
    <%- include('../partial/clientHeader.ejs')%>
    <!-- Header section end -->

    <!-- Hero section -->
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="img/bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 text-white">
                            <span>Phong cách mới</span>
                            <h2>Áo khoác Denim</h2>
                            <p>Là chiếc áo khoác không thể thiếu trong tủ đồ nam giới<br>
                            Đem lại cho bạn một vẻ ngoài khỏe khoắn và mạnh mẻ.
                            </p>
                            <a href="/cart" class="site-btn sb-white">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="img/bg-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 text-white">
                            <span>Phong cách mới</span>
                            <h2>Áo khoác Denim</h2>
                            <p>Là chiếc áo khoác không thể thiếu trong tủ đồ nam giới<br>
                                Đem lại cho bạn một vẻ ngoài khỏe khoắn và mạnh mẻ. </p>
                            <a href="/cart" class="site-btn sb-white">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->

    <!-- letest product section -->
    <%-include("../partial/carouselCard", {products:products,title:"Sản phẩm mới nhất"}) %>
    <!-- letest product section end -->



    <!-- Product filter section -->
    <section class="product-filter-section">
        <div class="container">
            <div class="section-title">
                <h2>Sản phẩm bán chạy nhất</h2>
            </div>
            <ul class="product-filter-menu" style="text-align:center;">
                <% productTypes.forEach(e => { %>
                    <li><a href="/products/<%= e.id%>"> <%= e.name %>  </a></li>
                <% }) %>
            </ul>
            <div class="row" id="top-sell">

                <% products.forEach(function(product) { %>
                <div class="col-lg-3 col-sm-6">
                    <%-include("../partial/productCard", {product:product}) %>
                </div>
                <% }); %>


            </div>
            <%if(amountproduct>8){%>
            <div class="text-center pt-5">
                <button class="site-btn sb-line sb-dark" id="loadMore">Xem thêm</button>
            </div>
            <%}%>
        </div>
    </section>
    <!-- Product filter section end -->


    <!-- Banner section -->
    <section class="banner-section">
        <div class="container">
            <div class="banner set-bg" data-setbg="img/banner-bg.jpg">
                <div class="tag-new">Mới</div>
                <span>Sản phẩm mới</span>
                <h2>Áo sơ mi</h2>
                <a href="/cart" class="site-btn">Mua ngay</a>
            </div>
        </div>
    </section>
    <!-- Banner section end  -->

    <script src="/js/custom/index.js"></script>

    <!-- Footer section -->
    <%- include('../partial/clientFooter.ejs')%>
    <!-- Footer section end -->



    <!--====== Javascripts & Jquery ======-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.slicknav.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.zoom.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/custom/ejs.min.js"></script>

</body>

</html>