<!DOCTYPE html>
<html lang="en">

<head>
	<title>Divisima | eCommerce Template</title>
	<meta charset="UTF-8">
	<meta name="description" content=" Divisima | eCommerce Template">
	<meta name="keywords" content="divisima, eCommerce, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon" />

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

	<!-- fontawesome -->
	<!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> -->


	<!-- Stylesheets -->
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/css/flaticon.css" />
	<link rel="stylesheet" href="/css/slicknav.min.css" />
	<link rel="stylesheet" href="/css/jquery-ui.min.css" />
	<link rel="stylesheet" href="/css/owl.carousel.min.css" />
	<link rel="stylesheet" href="/css/animate.css" />
	<link rel="stylesheet" href="/css/style.css" />




</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>



	<!-- Header section -->
	<%- include('../partial/clientHeader.ejs')%>
	<!-- Header section end -->


	<!-- product section -->
	<section class="product-section">
		<div class="container">
			<div class="back-link">
				<a href="/cart" style="font-size: 15px;"> &lt;&lt; Xem các sản phẩm khác</a>
			</div>
			<div class="row">

				<div class="col-lg-6">
					<div class="product-pic-zoom" style="position: relative; overflow: hidden;">
						<img class="product-big-img" src="<%= product.fileLinks[0] %>" width="558" height="757" alt="">
						<img role="presentation" alt="" src="<%= product.fileLinks[0] %>" class="zoomImg"
							style="position: absolute; top: -542.446px; left: -442.024px; opacity: 0; border: none; max-width: none; max-height: none; width: 1000px; height: 1358px;">
					</div>
					<div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
						<div class="product-thumbs-track">
							<div class="pt active" data-imgbigurl="<%= product.fileLinks[0] %>"><img
									src="<%= product.fileLinks[0] %>" height="116" width="116" alt=""></div>
							<% for(let i=1;i<product.img.length;i++) { %>
							<div class="pt" data-imgbigurl="<%= product.fileLinks[i] %>"><img
									src="<%= product.fileLinks[i] %>" height="116" width="116" alt=""></div>
							<% } %>
						</div>
					</div>
				</div>




				<div class="col-lg-6 product-details">
					<h2 class="p-title"><%= product.name %></h2>
					</h2>
					<h3 class="p-price"> <%= product.priceFormat %></h3>
					<div class="p-rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o fa-fade"></i>
					</div>
					<div class="p-review">
						<a href="">3 đánh giá</a>
					</div>
					<% if (conHang) { %>
					<form action="/cart/product/<%= product._id %> " method="post">
						<div class="fw-size-choose" role="tablist">
							<p>Kích cỡ</p>

							<% for( let i = 0,f=true; i < product.sizes.length; i++ ) { %>

							<% if (product.sizes[i].quantity==0) { %>
							<div class="sc-item disable">
								<input type="radio" name="size" value="<%= product.sizes[i].name %>"
									id="size-<%= product.sizes[i].name %>" disabled>
								<label for="size-<%= product.sizes[i].name %>"><%= product.sizes[i].name %></label>
							</div>

							<% } else { %>

							<% if (f) { %>
							<div class="sc-item">
								<input type="radio" name="size" id="size-<%= product.sizes[i].name %>"
									value="<%= product.sizes[i].name %>"
									data-target="#available-<%= product.sizes[i].name %>" checked>
								<label for="size-<%= product.sizes[i].name %>"><%= product.sizes[i].name %></label>
							</div>
							<% f=false %>
							<% } else { %>
							<input type="radio" name="size" id="size-<%= product.sizes[i].name %>"
								value="<%= product.sizes[i].name %>"
								data-target="#available-<%= product.sizes[i].name %>">
							<label for="size-<%= product.sizes[i].name %>"><%= product.sizes[i].name %></label>
							<% }}} %>

						</div>
						<!-- <div class="quantity">
								<p>Quantity</p>
								<div class="pro-qty"><span class="dec qtybtn">-</span><input type="text" value="1"><span
										class="inc qtybtn">+</span></div>
							</div> -->

						<div class="quantity">
							<p>Số lượng</p>

							<div class="pro-qty"><span class="dec qtybtn">-</span><input type="text" value="1"
									name="quantity"><span class="inc qtybtn">+</span></div>
							<div class="tab-content" style="margin-left: 1rem;">

								<% for( let i = 0,f=true; i < product.sizes.length; i++ ) { %>

								<% if (product.sizes[i].quantity!=0) { %>

								<% if (f) { %>
								<div id="available-<%= product.sizes[i].name %>" class="tab-pane active">
									<span><%=product.sizes[i].quantity%></span> sản phẩm sẵn có</div>
								<% f=false %>
								<% } else { %>
								<div id="available-<%= product.sizes[i].name %>" class="tab-pane">
									<span><%=product.sizes[i].quantity%></span> sản phẩm sẵn có</div>
								<% }}} %>
							</div>
						</div>



						<button type="submit" class="site-btn">Thêm vào giỏ hàng</button>
					</form>
					<% } else { %>
					<h2>Hết hàng</h2>
					<% } %>


					<div id="accordion" class="accordion-area">
						<div class="panel">
							<div class="panel-header" id="headingOne">
								<button class="panel-link active" data-toggle="collapse" data-target="#collapse1"
									aria-expanded="true" aria-controls="collapse1">Thông tin sản phẩm</button>
							</div>
							<div id="collapse1" class="collapse show" aria-labelledby="headingOne"
								data-parent="#accordion">
								<div class="panel-body">
									<p><%= product.description %> </p>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header" id="headingTwo">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse2"
									aria-expanded="false" aria-controls="collapse2">Thông tin đổi trả </button>
							</div>
							<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="panel-body">
									<p>
										- Thời gian đổi trong vòng 3 ngày kể từ khi các bạn mua. Khách hàng mua online
										được tính từ ngày nhận hàng.<br>
										- Sản phẩm đổi phải còn nguyên tem, nhãn mác, chưa qua sử dụng, không mùi, dính
										bẩn, hay giặt qua một lần, và có toàn bộ bao bì và hóa đơn mua hàng kèm
										theo.<br>
										- Khách hàng được đổi sản phẩm theo yêu cầu kích cỡ ( Size ), do lỗi sản
										xuất.<br>
										- Không đổi sản phẩm bán trong các đợt cửa hàng Sale Off, hoặc hàng đã được đổi
										một lần trước đó, trừ trường hợp sản phẩm đó lại gặp lỗi kỹ thuật.<br>
										- Các bạn mua online, khi nhận hàng xong, các bạn vui lòng kiểm tra sản phẩm sau
										khi thanh toán cho nhân viên giao hàng, nếu có lỗi sản xuất xin báo ngay về cho
										chúng tôi, không nên mặc thử, hoặc sử dụng sản phẩm sau khi phát hiện lỗi .
									</p>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header" id="headingThree">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse3"
									aria-expanded="false" aria-controls="collapse3">Giao hàng</button>
							</div>
							<div id="collapse3" class="collapse" aria-labelledby="headingThree"
								data-parent="#accordion">
								<div class="panel-body">
									<h4>Trong vòng 7 ngày</h4>
									<p>Chỉ nhận giao hàng COD<br>Giao hàng tận nơi từ <span>3 - 7 ngày</span></p>
									<p>
										TPHCM - Hà Nội: 3 - 4 ngày.<br>
										Các nơi khác: 4 - 7 ngày.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="social-sharing">
						<a href="https://www.instagram.com/" class="instagram"><i class="fa fa-instagram"></i></a>
						<a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
						<a href="https://twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a>
						<a href="https://www.youtube.com/" class="youtube"><i class="fa fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- product section end -->


	<!-- RELATED PRODUCTS section -->
	<%-include("../partial/carouselCard", {products:products,title:"SẢN PHẨM LIÊN QUAN"}) %>
	<!-- RELATED PRODUCTS section end -->


	<!-- Footer section -->
	<%- include('../partial/clientFooter.ejs')%>
	<!-- Footer section end -->



	<!--====== Javascripts & Jquery ======-->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.slicknav.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.nicescroll.min.js"></script>
	<script src="/js/jquery.zoom.min.js"></script>
	<script src="/js/jquery-ui.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/custom/ejs.min.js"></script>

</body>

</html>