<div class="product-item" id="<%= product._id %>">
    <div class="pi-pic">
        <a href = '/product/<%= product._id %>'>
        <img src='<%= product.fileLinks[0] %>' height="410px" alt="">
        </a>
        <div class="pi-links">
            <a href="/admin/product/edit/<%= product._id%>" class="add-card"><i class="far fa-edit"></i><span>Sửa sản phẩm</span></a>
            <form method="POST" action="/admin/product/delete/<%= product.id%>?_method=DELETE">
                <button class="btn btn-danger btn-customize" onclick="return confirm('Bạn muốn xóa sản phẩm:  <%=product.name%> ? ')" type="submit">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
            <!-- <a type='button'href="/admin/product/delete/" class="wishlist-btn"><i class="fas fa-trash-alt"></i></a> -->
        </div>
    </div>
    <div class="pi-text">
        <h6><%= product.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>vnđ</h6>
        <p><%= product.name %> </p>
    </div>
</div>
