<div class="product-item" id="<%= product._id %>" onclick="location.href='/product/<%= product._id %>';"
    style="cursor:pointer">
    <div class="pi-pic">
        <img src='<%= product.fileLinks[0] %>' height="410px" alt="">
        <div class="pi-links">
            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ hàng</span></a>
            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
        </div>
    </div>
    <div class="pi-text">
        <p><%= product.name %> </p>
        <h6><%= product.priceFormat %></h6>
    </div>
</div>