<head>
    <title>Shop nam</title>
    <meta charset="UTF-8">
    <meta name="description" content=" Divisima | eCommerce Template">
    <meta name="keywords" content="divisima, eCommerce, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/slicknav.min.css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/style.css" />

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/customer.js"></script> 
<!------ Include the above in your HEAD tag ---------->


<link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css"/>
<link rel="stylesheet" href="css/customer.css"/>
<style>
    body
    {
        font-size: 16px;
    }
        .formdoimatkhau {
      border: 3px solid #f1f1f1;
      align-items: center;
      margin: 20px auto;
      padding: 20px;
      width: 500px;
      font-family: Arial, Helvetica, sans-serif;
    }
        .button {
      background-color: #442fbd;
      color: white;
      padding: 8px 12px;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    .button:hover {
      opacity: 0.8;
    }
    .button2 {
      background-color: #db3f3f;
      color: white;
      padding: 8px 12px;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    .button2:hover {
      opacity: 0.8;
    }
    .input[type=text],
    .input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    .closebtn {
      margin-left: 15px;
      color:white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    .closebtn:hover {
      color: black;
    }
    .alert {
      padding: 8px 12px;
      background-color: #f44336;
      color: white;
      opacity: 1;
      transition: opacity 0.6s;
      width: 250px;
    }

    .alert.success {
      background-color: #04AA6D;
    }

</style>
</head>
<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header section -->
    <%- include('../partial/clientHeader.ejs')%>
    <!-- Header section end -->

<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <img src="https://khoanh24.com/uploads/w750/2020/03/23/avatar-facebook-mac-dinh-nam-deo-khau-trang_75cf96b7a.jpg" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                </div>
                                <div class="userData ml-3 " style="margin: auto;">
                                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><%= Username%></h2>
                                </div>
                                <div class="ml-auto">
                                    <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Thông tin</a>
                                    </li>
                                    <li class="nav-item" onclick="CloseNotice()">
                                        <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">Lịch sử đơn hàng</a>
                                    </li>
                                </ul>
                                <div class="tab-content ml-1" id="myTabContent">
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                        

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Email</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <%= email%>
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Số điện thoại</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <%= phone_number%>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Địa chỉ</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <%= address%>
                                            </div>
                                        </div>
                                        <hr />
                                        
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <button onclick="Hienthiformdoimatkhau(),CloseNotice()" class="button" id="buttonchange">Đổi mật khẩu</button>
                                            </div>
                                            <div class="col-md-8 col-6" style="display: block;" id="notice">
                                            <% if (message !='') {%>
                                                <div class='alert'>
                                                  <span class="closebtn">&times;</span>
                                                 <%=message%>
                                                </div>
                                                <% } %>
                                                <%if(message_success !=''){ %>
                                                    <div class='alert success'>
                                                        <span class="closebtn">&times;</span>
                                                        <%=message_success%>
                                                    </div>
                                                <% } %>
                                            </div>
                                            <div class="col-md-8 col-6" id="myDIV" style="display: none;">
                                                <form action="/myaccount" method="post" class="formdoimatkhau">
                                                    <div class="container">
                                                      <label for="oldpassword"><b>Mật khẩu cũ</b></label>
                                                      <input class="input" type="password" placeholder="Nhập mật khẩu cũ" name="oldpassword" required>
                                            
                                                      <label for="password"><b>Mật khẩu mới</b></label>
                                                      <input class="input" type="password" placeholder="Nhập mật khẩu mới" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password phải gồm 8 kí tự (Thường, hoa và số)" required>
                                                      <label for="psw-repeat"><b>Xác nhận mật khẩu</b></label>
                                                      <input class="input" type="password" placeholder="Nhập lại mật khẩu mới" name="Confirmpassword" required>
                                                      <button type="submit" class="button2">Đổi mật khẩu</button>
                                                      <button class="button"  onclick="Hienthiformdoimatkhau()">Trở về</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                    <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                                        <% for (let i=Bills.length-1;i>=0;i--) { %>
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Đơn hàng</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    <a href="/myaccount/<%=Bills[i]._id%>"><%=Bills[i]._id%></a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Tổng tiền</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    
                                                    <label style="font-weight:bold;"><%=Bills[i].total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %> VNĐ</label>
                                                </div>
                                            </div>
                                            <hr />
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>

        </div>
    </div>
        <!-- Footer section -->
        <%- include('../partial/clientFooter.ejs')%>
        <!-- Footer section end -->
    

    
        <!--====== Javascripts & Jquery ======-->
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.slicknav.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/jquery.nicescroll.min.js"></script>
        <script src="/js/jquery.zoom.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/custom/ejs.min.js"></script>
        <script>
            function Hienthiformdoimatkhau() {
                var x = document.getElementById("myDIV");
                if (x.style.display === "none") {
                  x.style.display = "block";
                } else {
                  x.style.display = "none";
                }
                var y = document.getElementById("buttonchange");
                if (y.style.display === "none") {
                  y.style.display = "block";
                } else {
                  y.style.display = "none";
                }
                var z = document.getElementById("notice");
                if (z.style.display === "block") {
                  z.style.display = "none";
                }
            }
            function CloseNotice() {
            var z = document.getElementById("notice");
                if (z.style.display === "block") {
                  z.style.display = "none";
                }
            }
            </script>
            <script>


                var close = document.getElementsByClassName("closebtn");
                var i;
                for (i = 0; i < close.length; i++) {
                    close[i].onclick = function () {
                    var div = this.parentElement;
                    div.style.opacity = "0";
                    setTimeout(function () { div.style.display = "none"; }, 600);
                    }
                }
                </script>
</body>